/* App.css */
@import url(
  'about.css'
);
/* Target the scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 16px; /* Rounded corners for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  
  /* Additional styles for Firefox using scrollbar-width and scrollbar-color */
  body {
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: #888 #f1f1f1; /* thumb color and track color */
  }
  